{% extends "template.j2" %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/investments">Investments</a></li>
<li><a href="/allusers">Users</a></li>
<li class="active"><a href="#">manage</a></li>

{% endblock navbar %}

{% block page %}
<div class="container button-group" >
  <h2>System management page</h2>
  <div>
  <button type="button" class="btn btn-default">
  <a href="/newp">Create new project</a>
  </button>

  <button type="button" class="btn btn-default">
  <a href="/newinv">Create new investment</a>
  </button>

  <button type="button" class="btn btn-default">
  <a href="/newu">Create new user</a>
  </button>
    <button type="button" class="btn btn-default">
  <a href="/newr">Create new role</a>
  </button>
  </div>
  
</div>  

{% endblock page %}
